@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

:root {
   --iceblue: rgba(34, 197, 242, 0.35);
   --textcolor: rgba(50, 50, 50, 0.7);
}

br {
   margin: 0;
   padding: 0;
}

hr {
   border-color: var(--textcolor);
   border-style: none;
   border-top-style: dotted;
   border-width: .05rem;
   margin: 0;
   width: 100%;
}

a {
   text-decoration: none;
   color: var(--textcolor);
   font-size: 1.25rem;
}

a:hover {
   color: black;
}

p {
   color: var(--textcolor);
   text-align: center;
}

form {
   padding: 1rem;
   margin: 0;
}

.body {
   color: var(--textcolor);
   font-family: Mate, Arial, sans-serif;
   margin: 0;
   background-image: url("./pictures/iceberg.png");
   background-repeat: no-repeat;
   background-position: center;
}

.altcontainer {
   background-color: var(--iceblue);
   height: 100vh;
   text-align: center;
   margin: 0;
}

.container {
   margin: 0;
   height: 100vh;
}

.copyright {
   color: white;
   background-color: var(--iceblue);
   margin: 0;
   padding: 10px;
}

.pageTitle {
   margin: 0;
   padding: 1rem;
   text-align: center;
}

.projLang {
   position: relative;
   bottom: -40rem;
}

#mainTitle {
   font-family: Nunito sans, Mate, Arial, sans-serif;
   color: rgba(34, 197, 242);
   font-size: 3.75rem;
   margin: 0;
   padding: 0;
   text-align: center;
   padding: 25rem 0 0 0;
}
